[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genero"]
	path = genero
	url = https://github.com/datasketch/genero
[submodule "shinypanels"]
	path = shinypanels
	url = https://github.com/datasketch/shinypanels
